.boton{
    margin: 3% 2%;
    border: 1px black solid;
}


.dentro{
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    color: rgb(235, 111, 240);
    
    font-family: 'Chakra Petch', sans-serif;
}