.containerCheckOut{
    text-align: center;
}
.containerCheckOut > input {
    margin: 5px;
    height: 35px;
    width: 300px;
}
input{
    border-radius: 5px;
    border: black solid 1px
}
#sendOrder{
    margin: 2%;
}
#sendOrder > p {
    color:rgb(231, 73, 34);
    font-weight: bold;
}
.margin{
   padding-top: 130px;
    color: aliceblue;
    border: black;
    font-weight: bold;
   text-align: center;
}
.border{
    border-radius: 5px;
    width: 100px;
    border: 1px black solid !important;
    margin-bottom: 3%;
}
.orden{
    color: aliceblue;
}