.footer-basic {
    padding:40px 0;
    background-image: url(https://wallpaperaccess.com/full/4910984.gif);
   
  }
  
  
  
 
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#f3ecf3;
    font-weight: bold;
    margin-bottom:0;
  }