
.App {
  background-image:url('https://cdna.artstation.com/p/assets/images/images/026/861/202/large/valeriya-kim-moonlit-ruinsx4-1080.jpg?1589924707');
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  font-family: var(--bs-body-font-family);
}

.normalizeBlackLink{
  color: rgba(66, 39, 39, 0.904);
  text-decoration: none;
}
.normalizeBlackLink:hover{
  color: rgba(0, 0, 0, 0.822);
  font-weight: 370;
}

.normalizeWhiteLink{
  color: white;
  text-decoration: none;
}
.normalizeWhiteLink:hover{
  color: white;
}
